.main{
    background-color: #c8bbe7;
    width: 100%;
    padding-top: 20px;
}
.taskapp>h1{
    font-size: 40px;
   text-align: center;
}

.btnPro{
   background-color: #6dabe4;
   border: none;
   width: 120px;
   height: 50px;
   border-radius: 10px;
   color: white;
   cursor: pointer;
}

.buttonSpacer {
    margin-right: 10px; 
}

.error{
    color: red;
}

.inpPart{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
border: 1px solid black;
    width: 30%;
text-align: center;
padding-top: 20px;
height: 260px;
border-radius: 10px;
}

.inptag{
    width: 300px;
    background-color:#c8bbe7;
    height: 40px;
    text-align: center;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    padding-top: 30px;
  }

  .centerButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .taskapp>h1{
        font-size: 20px;
       text-align: center;
    }

    .btnPro{
        width: 100px;
     }

     .inpPart{
        width: 70%;
    }
    .inptag{
        width: 200px;
    }
  }
