.taskContainer {
    display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 100%;
  padding-top: 50px;
  gap: 10px;
  background-color: #c8bbe7;
  padding-bottom: 40px;
  }
  
  .taskBox {
    width: 87%;
    height: 80%;
    text-align: center;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
  }
  
  .twoBtn{
    display: flex;
    padding-left: 80px;

  }

  .btn{
    background-color: #6dabe4;
   border: none;
   width: 80px;
   height: 40px;
   border-radius: 10px;
   color: white;
   cursor: pointer;
}

.buttonSpacer {
    margin-right: 10px; 
}

.changingBtn{
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
}

.changeInp{
    width: 300px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
}


.changebtnn{
    background-color: #6dabe4;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
  .taskContainer {
    grid-template-columns: repeat(1, 1fr);
    width: 50%;
    padding-left: 50px;
  }

  .taskBox {
    width: 90%;
    height: 70%;
    padding-left: 20px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
  }

  .twoBtn {
    padding-left: 20px; 
  }



  .changingBtn {
    padding-left: 20px; 
    padding-top: 10px; 
  }
  .changeInp{
    width: 200px;
    height: 20px;
    text-align: center;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
}
}